{% extends 'backend_api/base.html' %}

<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Полезная информация</title>
    {% block style %}
    <link rel="stylesheet" href="{% static "css/Help.css" %}" />
    {% endblock %}
</head>
<body>
    {% block body %}
        <h1>Полезная информация</h1>
        <div class="componentsTitle">
            <p>Полный список достпуных комплектующих и их характеристик представлен ниже:</p>  
        </div>
        <div class="componentsBlock">
            <details>
                <summary>Процессоры</summary>
                <div class="componentsBase">
                    {% for processor in processors %}
                    <div class="componentCard">
                        <h2>{{ processor.name }}</h2>
                        <div class="componentInfo">
                        <p>Производитель: {{ processor.firm }}</p>
                        <p>Тактовая частота: {{ processor.frequency }} МГц</p>
                        <p>Сокет: {{ processor.socket }}</p>
                        <p>Количество ядер: {{ processor.core_number }}</p>
                        <p>Цена: {{ processor.price }} руб.</p>
                        </div>
                    </div>
                {% endfor %}
                </div>
                
            </details>
            
            <details>
                <summary>Системы охлаждения</summary>
                <div class="componentsBase">
                    {% for cooler in cooling_systems %}
                    <div class="componentCard">
                        <h2>{{ cooler.name }}</h2>
                        <div class="componentInfo">
                            <p>Производитель: {{ cooler.firm }}</p>
                            <p>Скорость вращения: {{ cooler.rotational_speed }} об/мин</p>
                            <p>Цена: {{ cooler.price }} руб.</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </details>


            <details>
                <summary>Материнские платы</summary>
                <div class="componentsBase">
                    {% for motherboard in motherboards %}
                    <div class="componentCard">
                        <h2>{{ motherboard.name }}</h2>
                        <div class="componentInfo">
                            <p>Производитель: {{ motherboard.firm }}</p>
                            <p>Чипсет: {{ motherboard.chipset }}</p>
                            <p>Сокет: {{ motherboard.socket }}</p>
                            <p>Цена: {{ motherboard.price }} руб.</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </details>


            <details>
                <summary>Оперативная память</summary>
                <div class="componentsBase">
                    {% for ram in rams %}
                    <div class="componentCard">
                        <h2>{{ ram.name }}</h2>
                        <div class="componentInfo">
                            <p>Производитель: {{ ram.firm }}</p>
                            <p>Тип памяти: {{ ram.memory_type }}</p>
                            <p>Тактовая частота: {{ ram.clock_frequency }} МГц</p>
                            <p>Объем памяти: {{ ram.memory_size }} ГБ</p>
                            <p>Цена: {{ ram.price }} руб.</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </details>

            
            <details>
                <summary>Видеокарты</summary>
                <div class="componentsBase">
                    {% for videocard in videocards %}
                    <div class="componentCard">
                        <h2>{{ videocard.name }}</h2>
                        <div class="componentInfo">
                            <p>Производитель: {{ videocard.firm }}</p>
                            <p>Объем памяти: {{ videocard.memory_size }} ГБ</p>
                            <p>Цена: {{ videocard.price }} руб.</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </details>

            

            <details>
                <summary>HDD</summary>
                <div class="componentsBase">
                    {% for hdd in hdds %}
                    <div class="componentCard">
                        <h2>{{ hdd.name }}</h2>
                        <div class="componentInfo">
                            <p>Производитель: {{ hdd.firm }}</p>
                            <p>Объем памяти: {{ hdd.memory_size }} ГБ</p>
                            <p>Цена: {{ hdd.price }} руб.</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </details>


            <details>
                <summary>SSD</summary>
                <div class="componentsBase">
                    {% for ssd in ssds %}
                    <div class="componentCard">
                        <h2>{{ ssd.name }}</h2>
                        <div class="componentInfo">
                            <p>Производитель: {{ ssd.firm }}</p>
                            <p>Объем памяти: {{ ssd.memory_size }} ГБ</p>
                            <p>Цена: {{ ssd.price }} руб.</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </details>
            

            <details>
                <summary>Блоки питания</summary>
                <div class="componentsBase">
                    {% for power_unit in power_units %}
                    <div class="componentCard">
                        <h2>{{ power_unit.name }}</h2>
                        <div class="componentInfo">
                            <p>Мощность: {{ power_unit.power }} W</p>
                            <p>Цена: {{ power_unit.price }} руб.</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </details>
        </div>

        <div class="articleBlock">
            <h2>Как правильно подобрать комплектующие</h2>
            <p class="articleParagraph">
                Первое, с чем нужно определиться: для каких целей нужен компьютер?
                От этого зависит выбор комплектующих и цена ПК. 
            <p class="articleParagraph">
                Например, мультимедийный
                или офисный компьютер будет стоить в пределах 35 тыс. руб. За эти деньги
                вы получите технику, на которой можно поработать, посмотреть кино и даже
                немного поиграть, в основном, в старые игры.
            </p class="articleParagraph">
            <p class="articleParagraph">
                ПК для игр или работы с графикой и видео обойдется дороже.
                Примерная начальная цена такого компьютера сегодня составляет
                65 тыс. руб. Причина – популярность майнинга и последующий рост
                стоимости видеокарт, а также дефицит видеокарт.
                Зато такой компьютер будет способен практически на любые задачи.
            </p>


            <h3>Выбираем центральный процессор</h3>
            <div class="imgBlock">
                <div class="imgCard">
                    <img src="{% static "images/processor1.jpg" %}" alt="процессор intel">
                </div>
                <div class="imgCard">
                    <img src="{% static "images/processor2.jpg" %}" alt="процессор AMD">
                </div>
            </div>
            <p>
                Выбор комплектующих начнем с «сердца» компьютера – центрального процессора.
                Здесь важны два момента.
            </p>
            <p>
                Первый – количество ядер и наличие многопоточности.
                Игровые и рабочие ПК в этом плане более требовательны. 6 ядер и 12 потоков для них
                — необходимый минимум. Для офисной работы или развлечений можно приобрести менее
                производительную модель, например, на 4 ядра и 4 потока. 
            </p>
            <p>
                Второй важный момент – наличие встроенного видеоядра. Процессор с таким полезным
                дополнением может функционировать без видеокарты. То есть позволяет обойтись без покупки
                самого дорогостоящего на сегодняшний день элемента.
            </p>
            <p>
                Конечно, если вы собираете игровой ПК, без дискретной (то есть отдельной)
                видеокарты все же не обойтись. Встроенного видеоядра может не хватить на
                современные игры. А вот для офисного или мультимедийного ПК процессор с
                видеопамятью – хорошее приобретение. Для рядовых задач его хватит с лихвой.
                Покупку дискретной видеокарты можно будет отложить или отказаться от нее вовсе,
                если вы в ней не нуждаетесь.
            </p>
            <p>
                Итак, как обстоит дело со встроенным видеоядром у процессоров Intel и AMD?
                В процессорах Intel практически все модели для массового сегмента работают
                без видеокарты (исключение – ЦПУ с литерой F). У AMD таких моделей меньше,
                зато производительность видеоядра выше. Так что при возможности лучше отдать
                предпочтение AMD. В остальном кардинальных отличий между процессорами разных
                производителей в одном ценовом сегменте нет.
            </p>


            <h3>Выбираем видеокарту</h3>
            <p>
                Сегодня это самый дорогой элемент любого компьютера, на который уйдет не менее
                половины бюджета. Над производством видеокарт работают десятки компаний, хотя в
                основе лежат только AMD и NVIDIA.
            </p>
            <div class="imgBlock">
                <div class="imgCard">
                    <img src="{% static "images/videocard1.jpg" %}" alt="видеокарта 1">
                </div>
                <div class="imgCard">
                    <img src="{% static "images/videocard2.jpg" %}" alt="видеокарта 2">
                </div>
            </div>
            <p>При покупке видеокарты рекомендуем учитывать следующие моменты:</p>
            <ul>
                <li>игровые тесты. Они лучше всего покажут, на что способна та или иная видеокарта;</li>
                <li>актуальность. Старые модели видеокарт стоят дешевле, но устаревают быстрее, особенно с учетом растущих требований игр;</li>
                <li>объем видеопамяти. Для офисного ПК будет достаточно 2 Гб, для игрового потребуется не меньше 8 Гб, а лучше – 16 Гб;</li>
                <li>назначение. Видеокарты, заточенные под игры, оснащены технологиями, позволяющими раскрыть качество графики во всей красе;</li>
                <li>уровень шума системы охлаждения. Стоит отдавать предпочтениям на 2-3 вентилятора, она будет шуметь меньше;</li>
                <li>поддержка аналогового видеовыхода (VGA). Этот критерий важен при использовании старого монитора без цифровых входов.</li>
            </ul>


            <h3>Выбираем материнскую плату</h3>
            <p>
                Главный критерий при выборе – совместимость матплаты с процессором. Проверить этот критерий можно на сайте производителя платы.
                Там же можно уточнить версию BIOS для определенного процессора.
            </p>
            <div class="imgBlock">
                <div class="imgCard">
                    <img src="{% static "images/motherboard1.jpeg" %}" alt="видеокарта 1">
                </div>
                <div class="imgCard">
                    <img src="{% static "images/motherboard2.jpg" %}" alt="видеокарта 2">
                </div>
            </div>
            <p>
                Цена материнской платы должна соотноситься со стоимостью ЦП. Для простой бюджетной модели нет смысла брать дорогостоящую
                высокопроизводительную плату. Необходимо также учесть:
            </p>
            <ul>
                <li>количество слотов под оперативную память. Должно быть не меньше двух. Для максимальной производительности оперативная память должна быть двухканальной, то есть нужно заменить одну планку большого объема на две с
                    объемом поменьше. Здесь и пригодится большое количество слотов;</li>
                <li>наличие разных интерфейсов. Например, если вы планируете заменить HDD на SSD, стоит убедиться в наличии слота М.2;</li>
                <li>наличие системы подпитания, дополнительных радиаторов охлаждения. Это требуется для мощных ЦП.</li>
            </ul>

            <h3>Выбираем оперативную память</h3>
            <div class="imgBlock">
                <div class="imgCard">
                    <img src="{% static "images/ram1.jpeg" %}" alt="видеокарта 1">
                </div>
                <div class="imgCard">
                    <img src="{% static "images/ram2.jpg" %}" alt="видеокарта 2">
                </div>
            </div>
            <p>Вот основные критерии для выбора оперативной памяти сегодня:</p>
            <ul>
                <li>тип – DDR4. Это современный стандарт памяти, который обеспечивает наилучшую производительность;</li>
                <li>объем. Для офисной и мультимедийной сборки рекомендуется не менее 4 Гб. Для игрового ПК понадобится 16 Гб. Оптимален двухканальный режим работы. То есть вместо одной планки 16 Гб
                    рекомендуется установить две планки по 8 Гб;
                </li>
                <li>частотная характеристика. При этом нужно помнить, что некоторые процессоры Intel – неразгоняемые. Они имеют «потолок» по работе с оперативкой, а потому покупать память с большой
                    частотой не имеет смысла. Для игр же высокие частоты, напротив, необходимость.
                </li>
            </ul>


            <h3>Выбираем накопитель</h3>
            <p>Сегодня выбор стоит между накопителями двух типов: жесткий диск (HDD) или твердотельный (SSD). Каждый вариант обладает своими плюсами и минусами.</p>
            <div class="imgBlock">
                <div class="imgCard">
                    <img src="{% static "images/hdd.jpg" %}" alt="видеокарта 1">
                </div>
                <div class="imgCard">
                    <img src="{% static "images/ssd.jpg" %}" alt="видеокарта 2">
                </div>
            </div>
            <p>Достоинства HDD – это доступная цена и большой объем. Минус – сравнительно невысокая производительность.</p>
            <p>SSD более «шустрый». Рекомендуется устанавливать на него операционную систему и рабочие программы. Минус его в сравнении
                с HDD в высокой цене, не каждый пользователь может позволить себе купить SSD большого объема. Впрочем,
                стоимость твердотельных накопителей снижается, они становятся доступнее. Так что рекомендуется выбирать
                именно его, производительность ПК от этого выиграет. «Добрать» объем для хранения файлов можно за счет
                дополнительной установки жесткого диска. Правда, это возможно не во всех компьютерах и ноутбуках.
            </p>


            <h3>Выбираем блок питания</h3>
            <div class="imgBlock">
                <div class="imgCard">
                    <img src="{% static "images/power_unit1.jpg" %}" alt="видеокарта 1">
                </div>
                <div class="imgCard">
                    <img src="{% static "images/power_unit2.jpeg" %}" alt="видеокарта 2">
                </div>
            </div>
            <p>Блок питания обеспечит ПК стабильным напряжением и защитит от короткого замыкания.
                Компьютеры средней мощности потребляют примерно 500 Вт. Для геймерского или
                профессионального ПК может потребоваться и 1 кВт. Лучше всего выбирать мощность с
                запасом, прибавив 20–30 % к пиковому значению.
            </p>
            <p>Также необходимо учесть:</p>
            <ul>
                <li>наличие сертификата 80Plus, имеющего более высокий КПД</li>
                <li>количество разъемов для периферии;</li>
                <li>длину проводов.</li>
            </ul>



            <h3>Выбираем систему охлаждения</h3>
            <p>Если система охлаждения не прилагается к процессору, ее придется приобрести отдельно.
                Она высчитывается, исходя из тепловыделения ЦП и кулера. Лучше выбирать охлаждение
                «с запасом», умножив получившуюся цифру на 1,5.
            </p>
            <p>Тип системы охлаждения подбирается, исходя из мощности ПК и вашего бюджета.
                Для недорогого офисного компьютера будет достаточно горизонтального кулера.
                А вот мощный ПК, который сильно греется в процессе, нуждается в башенном кулере
                или системе жидкостного охлаждения.
            </p>
            <p>Важно убедиться, что охлаждение подходит под сокет материнской платы. Некоторые модели,
                особенно недорогие, поддерживают только один вид крепления.
            </p>


            <h3>Итог</h3>
            <p>Это краткое руководство по подбору комплектующих для ПК.
                Выбор решения во многом зависит от назначения ПК. Рынок постоянно меняется, так что
                конкретные рекомендации быстро устаревают. Главное, придерживаться соотношения цена/производительность
                и не забывать о совместимости отдельных элементов.
            </p>
            
        </div>
    {% endblock %}

</body>
</html>
