<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static "css/base.css" %}" />
    {% block style %}
        base style
    {% endblock %}
    <meta charset="UTF-8">
    <title>Configurator</title>
</head>
<body>
    <header class="headerbase">
            <div class="warplogo">
                <img class ="logo" src="{% static "images/favicon.png" %}">
            </div>
            <nav>
                <div class="navobject">
                    <a href="{% url 'backend_api:index' %}" class="navtext">Главная</a>
                </div>
                <div class="navobject">
                    <a href="{% url 'backend_api:constructor' %}" class="navtext">Конфигуратор</a>
                </div>
                <div class="navobject">
                    <a href="{% url 'backend_api:help' %}" class="navtext">Полезная информация</a>
                </div>
            </nav>
    </header>
    <div class="wrapper">
        {% block body %}
        Base body
        {% endblock %}
    </div>
</body>
</html>